{% extends 'base.html' %}

{% block content %}
    {% for file in files %}
        <div class="line">
            <h1><a href="{% url 'file_detail' pk=file.pk %}"> {{ file.name }} </a></h1>
            <div> Добавлен: {{ file.author }} </div>
        </div>
    {% endfor %}
    <a href="{% url 'index_main' %}">На главную</a>
{% endblock %}