{% extends 'base.html' %}

{% block content %}
    <div class="line">
        <h1><a href="{% url 'file_download' pk=file.pk %}"> {{ file.name }} </a></h1>
        <h1> {{ file.file }} </h1>
        <div> Добавлен: {{ file.author }} </div>
    </div>
    <a href="{% url 'file_list' %}">Назад</a>
    <a href="{% url 'index_main' %}">На главную</a>
{% endblock %}