{% extends 'base.html' %}

{% block content %}
    {% for message in messages %}
        <div class="line">
            <div>{{ message.author }}: <b>{{ message.text }}</b></div>
        </div>
    {% endfor %}

    <br>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Отправить</button>
    </form>
    <br>

    <a href="{% url 'index_main' %}">На главную</a>
{% endblock %}