{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="line">
            <h1><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }} </a></h1>
            <div> Добавлен: {{ post.author }} </div>
            <div> Дата публикации: {{ post.date }} </div>
        </div>
    {% endfor %}
    <a href="{% url 'index_main' %}">На главную</a>
{% endblock %}