{% extends 'base.html' %}

{% block content %}
    <div class="line">
        <h1> {{ post.title }} </h1>
        <h1> {{ post.text }} </h1>
        <div> Добавлен: {{ post.author }} </div>
        <div> Дата публикации: {{ post.date }} </div>
    </div>
    <a href="{% url 'post_list' %}">Назад</a>
    <a href="{% url 'index_main' %}">На главную</a>
{% endblock %}