{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1 лаба</title>
</head>
<body>
    {% block content %}
        <h1>Первая лаба</h1>
        {% if not user.is_authenticated %}
        <a href="{% url "login" %}">Вход</a>
        {% else %}
        <a href="{% url 'file_add' %}">Добавить файл</a><br>
        <a href="{% url 'file_list' %}">Посмотреть файлы</a><br><br>
        <a href="{% url 'index' %}">Сообщения</a><br><br>
        <a href="{% url 'post_list' %}">Пост лист</a><br><br>
        <a href="{% url 'post_create' %}">Пост крейт</a><br><br>
        <a href="{% url "logout" %}">Выход</a>
        {% endif %}
    {% endblock %}
</body>
</html>